.label{
    text-transform: capitalize;
font-size: 24px;
font-weight: 700;
text-align: left;
color: white;
margin-bottom: 8px;
}

.input{
    height: 34px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #0093E9; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.SearchBox{
    display: flex;
    flex-direction: column;
    background-color: #0093E9;
padding: 30px 20px;
border-radius: 12px;
width: 300px;
margin: 0;
flex-grow: 1;
}