.item{
    box-sizing: border-box;
    display: flex;
    width: 400px;
    justify-content: space-between;
    background-color: #0093E9;
    border-radius: 12px;
    padding: 10px;
}

.contacts{
    display: block;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: capitalize;
    color: white;
    font-size: 22px;
}

.btn{
    color: white;

    margin: auto 0;
    display: flex;
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    background-color: #0093E9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.span{
    display: flex;
    gap: 5px;
    align-items: baseline;
}