#root {
  max-width: 1280px;
 
 
}

.forms{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.phonebook{
  display: flex;
    flex-direction: column;
    background-color: #0093E9;
padding: 10px 20px;
border-radius: 12px;
width: 300px;
margin: 0;
color: white;
}

