.NotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 52px;
    font-weight: 500;
    color: #0093E9;
}

.link{
    background-color: #0093E9;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.link:hover{
    color: white;
}